<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <div style="position: relative;overflow: hidden;height: 100px;width: 200px;">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000000000000">
                            <img [src]="data.images[currentIndex]" class="d-block img-fluid" alt=" ...">
                        </div>


                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        (click)="previousImg()" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        (click)="nextImg()" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <span style="position: absolute;top: 0px;right:10px;"><i class="bi bi-bookmark-heart"></i></span>
            </div>
            <div>
                <h6>lorem ipsum</h6>
                <h1>lorem ipsum</h1>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <img src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_basic_pub_11_template.jpg"
                    class="img-fluid">
                <span><i class=" fas fa-like"></i></span>
            </div>
            <div>
                <h6>lorem ipsum</h6>
                <h1>lorem ipsum</h1>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <img src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_basic_pub_11_template.jpg"
                    class="img-fluid">
                <span><i class=" fas fa-like"></i></span>
            </div>
            <div>
                <h6>lorem ipsum</h6>
                <h1>lorem ipsum</h1>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <img src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_basic_pub_11_template.jpg"
                    class="img-fluid">
                <span><i class=" fas fa-like"></i></span>
            </div>
            <div>
                <h6>lorem ipsum</h6>
                <h1>lorem ipsum</h1>
            </div>
        </div>
        <div class="col-sm">
            <div>
                <img src="https://yarlrybrsqapllwioing.supabase.co/storage/v1/object/public/PROPERTY_IMAGES/img_basic_pub_11_template.jpg"
                    class="img-fluid">
                <span><i class=" fas fa-like"></i></span>
            </div>
            <div>
                <h6>lorem ipsum</h6>
                <h1>lorem ipsum</h1>
            </div>
        </div>
    </div>
</div>