.carousel.slide {
  /* height: 80px; */
  width: 100%;
  object-fit: fill;
}
li {
  display: inline;
}
ul {
  font-size: 15px;
  /*  line-height: 22px; */
  font-weight: 400;
  margin: 0px 0px 4px;
  padding: 0px;
}
li::after {
  content: "•";
  display: inline-block;
  margin: 0px 2px;
}
p {
  margin: 0;
}
