.img-connect {
  width: 100%;
  margin-left: -5px;
}
#container {
  background-color: rgb(216, 124, 13);
}
.info-section {
  padding-top: 80px;
}
.title {
  color: #2b2b2b;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.cree-compte {
  color: rgb(53, 53, 53);
  font-size: 14px;
  line-height: 0;
  margin-bottom: 8px;
  font-weight: 300;
}
.cree-compte a {
  color: rgb(7, 7, 7);
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}

label {
  font-size: 14px;
  font-weight: 500;
}
input {
  width: 26em;
  font-size: 16px;
  border: solid 1px #929292;
  height: 42px;
  color: #2b2b2b;
  background-color: white;
  transition-duration: 0.2s;
}
#input-grp {
  width: 26em;
  font-size: 16px;
}
#connect-btn {
  background: linear-gradient(45deg, #e00034 15%, #fe004b 85%);
  color: white;
  border-color: transparent;
  width: 26em;
  border-radius: 32px;
  min-width: 100px;
  height: 40px;
}

#passord-forget {
  color: #e00034;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  font-family: arial;
  width: 26em;
  padding-left: 15%;
}
.google-section {
  border: 1px solid #707070;
  width: 26em;
  border-radius: 8px;
  height: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.icon {
  width: 25px;
}
.google-connect {
  font-size: 15px;
  padding-left: 1rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid rgb(238, 103, 103);
  background-color: rgb(247, 231, 231);
}

.error-message {
  margin-top: 4px;
  color: rgb(197, 42, 42);
  line-height: 18px;
  font-size: 13px;
  font-family: arial;
}
