<div class="main-section">
    <div class="img-section">
        <div class="form-section">

            <div class="title">
                <h2>Quel est votre projet ?</h2>
            </div>

            <form class="form-content" [formGroup]="searchForm" (ngSubmit)="onSearch()" novalidate>
                <div class="select-section">
                    <div class="d-flex justify-content-evenly">
                        <div class="check">
                            <input type="radio" class="btn-check" name="type" id="louer" value="L"
                                formControlName="type">
                            <label class="btn btn-light" for="louer">Louer</label>
                        </div>
                        <div class="check">
                            <input type="radio" class="btn-check" name="type" id="acheter" value="A"
                                formControlName="type">
                            <label class="btn btn-light" for="acheter">Acheter</label>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-evenly">


                    <div class="form-floating my-2 mx-2">
                        <ng-select class="ngselect" appearance="outline" [items]="willays" bindLabel="name"
                            formControlName="willaya" placeholder="Dans quel willaya? " notFoundText="n'existe pas">

                        </ng-select>

                    </div>

                    <div class="input-group my-2 mx-2">

                        <input type="number" class="form-control" id="form" placeholder="Votre budget max?"
                            name="budget" formControlName="budget">
                    </div>


                </div>
                <div class="row mt-2 ms-2 ps-4">
                    <div class="col-5 ms-1" *ngFor="let element of needs">
                        <input type="checkbox" [value]="element.key" (change)="onCheckSelected($event)">
                        <label class="label-control">
                            {{element.value}}</label>
                    </div>

                </div>
                <div class="search-btn"> <button class="btn my-3 p-2" id="search-btn"
                        (click)="showData()">Rechercher</button></div>
            </form>
        </div>

    </div>
</div>